
/*-----------------------------------*\
  #BASE STYLES
\*-----------------------------------*/
:root {
    --background-clr: rgb(101, 161, 144);
    --font-clr: rgb(49, 49, 59);

    --button-border-clr: rgb(217, 107, 67);

    --input-text-clr: rgb(167, 173, 184);
    --input-field-clr: rgb(255, 255, 255);
}

/*-----------------------------------*\
  #BASE STYLES
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Popins, sans-serif;  /* included font */
    font-size: clamp(1rem, 0.5rem + 1.5vw, 2rem)
}

body {
    background-color: var(--background-clr);
    color: var(--font-clr);
    /* height: 50vh; */
    height: 0;
    margin: 50vh auto; /* allows footer to be at the bottom of page */
}

/* table screen size */
@media screen and (max-width: 850px) {
    body { margin: 30vh auto; }    

    img { width: 50%; } /* resizes img to be responsive for table size */
}

/* mobile screen size */
@media screen and (max-width: 400px) {
    body { margin: 10vh auto; } /* allows footer to be at the top when on a mobile size */
}

h1 { font-size: 0.9em; }

h2 { font-size: 0.7em; }

li { list-style: none; }

a { 
    text-decoration: none; 
    color: inherit;
}

img { 
    width: 25%;
    block-size: auto;
}
/* resizes the image on a mobile screen so it's not so small */
@media screen and (max-width: 750px) {
    img { width: 60%; }
} 

button,
li,
a,
img { cursor: pointer; }

button {
    font-family: inherit;
    border: none;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--button-border-clr);
    margin: 2em 0
}

input:focus,
li>a:focus {
    outline: 1px solid var(--button-border-clr);
    outline-offset: 1px;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
    width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap; /* allows content to wrap so its responsive for tablet sizes with minimal styling */
    gap: 1.3em;
    justify-content: space-between;
    align-items: baseline;
}

/*-----------------------------------*\
  #FORM CONTAINER
\*-----------------------------------*/

form {
    margin-top: 1.5em; 
    display: flex;
    gap: 0.3em;
}

/* mobile screen sizes */
@media screen and (max-width: 390px) {
    .container, form { flex-direction: column; } /* allows the content to be stacked on top of each other */
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

input {
    background-color: var(--input-field-clr);
    color: var(--input-text);
    border: none;
    border-radius: 5px;
    padding: 0.7em 5em 0.7em 1em;
}

.subscribe-btn {
    background: var(--button-border-clr);
    color: var(--input-field-clr);
    padding: 0.8em 2.5em;
    border-radius: 5px;
}

.subscribe-btn:hover {
    background-color: rgb(190 118 92);
}

.subscribe-btn:focus{
    outline: 1px solid var(--input-field-clr);
    outline-offset: 1px; 
}

/*-----------------------------------*\
  #LINKS CONTAINER
\*-----------------------------------*/

.links-container {
    display: grid;
    gap: 1.5em;
}

/* tablet sizes */
@media screen and (max-width: 800px) {
    .links-container { width: 45%;} /* allows the list to be next to each other at the tablet size */
}

/* increases my fonts sizes from a table creen size to a mobile screen size */
@media screen and (max-width: 768px) {
    h1 { font-size: 1.3em; }

    h2 { font-size: 1em;}

    .link { font-size: 0.9em;}
}

.link { 
    font-size: 0.7em; 
    margin-bottom: 0.5em;
}

.link:hover { color: var(--input-field-clr); }


